body{
    background-size: cover;
}
.title{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}
#empezar,#objectcount,#status{
    font-size: 18px;
    width: 50%;
}
.copy-rights{
    bottom: 0; 
    position: fixed;
    background-image: linear-gradient(lawngreen, turquoise);
    color: black;
    width: 100%;
    text-align: center;
    line-height: 3;
}
canvas{
   border: 5px dashed black;
   margin-top: 100px;
   border-radius: 20px;
   box-shadow: 5px 5px 18px; 
}